.header-container {
   display: flex;
   height: 100vh;
   width: 100vw;
   min-height: 800px;
   min-width: 1080px;
}

.header__img {
   width: 50vw;
   height: 100vh;
   min-height: 800px;
   min-width: 540px;
   background-image: url(../assets/img/minutos/imagem-home-desk.jfif) ;
   background-size: cover;
   background-position: center;
}

.header-left {
   height: 100vh;
   min-height: 800px;
   min-width: 540px;
   width: 50vw;
   display: flex;
   flex-direction: column;
   gap: 0;
   background-color: var(--cor-primaria);
}

.header__description {
   font-family: var(--fonte-principal);
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 2vh;
   padding: 5% 10% 0 20%;
   color: white;
}

.header__top {
   display: flex;
   justify-content: space-between;
   font-size: 10px;
   color: white;
   text-align: right;
   width: 100%;
   line-height: 15px;
}

.header__img-mobile {
   display: none;
}

.header__top__logo {
   height: 4rem;
   min-height: 64px;
}

.header__top__link {
   color: white;
   width: 80px;
}

.header__top__link:visited {
   color: white;
}

.header__description__title {
   font-size: 28px;
   font-weight: 400;
   margin-top: 50px;
}

.header__description__title strong {
   color: var(--cor-secundaria);
   font-weight: 500;
}

.header__description__texto strong {
   font-weight: 600;
}

.header__description__texto__link {
   color: var(--cor-secundaria);
   font-weight: 600;
   text-decoration: underline;
}

.header__description__texto {
   font-size: 1em;
   font-weight: 300;
   line-height: 1.6em;
   padding: 3vh 0;
}

.header__description__botao {
   margin-top: 50px;
   align-self: self-end;
}

.header__description__botao-link {
   color: var(--cor-branco);
   background-color: var(--cor-botao);
   padding: 20px;
   border-radius: 5px;
   font-weight: 400;
   display: flex;
   gap: 10px;
   align-items: center;
}

.header__description__botao-link:hover {
   transition: 0.2s;
   background-color: #011b45;
   box-shadow: 0 0 4px 1px var(--cor-azulclaro);
}


@media screen and (max-width: 480px)  {
   
   .header__img {
      display: none;
   }

   .header-container {
      height: auto;
   }

   .header-left {
      min-width: 0;
      width: 100vw;
      height: auto;
   }

   .header__img-mobile {
      display: block;
      margin: 20px -20px;
      width: 100vw;
   }   

   .header__description {
      padding: 40px 20px 20px 20px;
      width: calc(100% - 40px);
   }

   .header__description__title {
      margin: 0;
   }

   .header__top {
      width: 100%;
   }

   .header__description__botao {
      display: none;
   }

}