.savoir-plus {
    height: 100vh;
    width: 100vw;
    display: flex;
    color: var(--cor-botao);
    background-color: bisque;
}

.gauche, .droite {
    width: 50vw;
}

.savoir-plus__gauche {
    margin: 0 10% 0 20%;
    background-color: rgb(201, 255, 255);
}

.container-cible-concurrence {
    display: flex;
    flex-direction: row;
    gap: 25%;
}

.savoir-plus__gauche__profil {
    margin-top: 40px;
}

.savoir-plus__gauche__profil li {
    display: flex;
    align-items: center;
    margin: 15px 0;
    gap: 8px;
}

.savoir-plus__gauche__profil strong {
    font-weight: 700;
}

.savoir-plus__titre {
    font-size: 1.7em;
    font-weight: 700;
    margin-bottom: 20px;
}

.savoir-plus__gauche__concurrence-logos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.savoir-plus__gauche__objectifs {
    margin-top: 50px;
}

.savoir-plus__gauche__objectifs ul {
    display: grid;
    grid-template: 50px 50px / 400px 400px ;
}

.savoir-plus__gauche__objectifs li {
    align-items: center;
}







.savoir-plus__droite {
    margin: 5% 20% 0 10%;
    background-color: rgb(178, 216, 216);
}





