.savoir-plus {
    height: 100vh;
    width: 100vw;
    display: flex;
    color: var(--cor-botao);
    background-color: bisque;
}

.gauche, .droite {
    width: 50vw;
}

.savoir-plus__gauche {
    margin: 5% 10% 0 20%;

    background-color: rgb(201, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.savoir-plus__droite {
    padding: 5% 20% 0 10%;
    background-color: rgb(178, 216, 216);
}

.savoir-plus__titre {
    font-size: 1.7em;
    font-weight: 700;
    margin-bottom: 20px;
}

.savoir-plus__gauche__concurrence-logos {
    display: flex;
    gap: 20px;
}

.savoir-plus__gauche__objectifs {
    line-height: 25px;
}



