.savoir-plus {
    height: 100vh;
    width: 100vw;
    min-height: 800px;
    min-width: 1080px;
    display: flex;
    color: var(--cor-botao);
    align-items: center;
}

.gauche, .droite {
    width: 50vw;
}

.savoir-plus__gauche {
    margin: 0 10% 0 20%;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.container-cible-concurrence {
    display: flex;
    flex-direction: row;
    gap: 20%;
}

.savoir-plus__gauche__profil {
    margin-top: 40px;
}

.savoir-plus__gauche__profil li {
    display: flex;
    align-items: center;
    margin: 15px 0;
    gap: 8px;
}

.savoir-plus__gauche__profil strong {
    font-weight: 700;
}

.savoir-plus__titre {
    font-size: 1.7em;
    font-weight: 700;
    margin-bottom: 20px;
}

.savoir-plus__gauche__cible > img {
    width: 12vw;
}

.savoir-plus__gauche__concurrence-logos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.savoir-plus__gauche__concurrence-logos img {
    width: 8vw;
}


.savoir-plus__gauche__objectifs {
    margin-top: 50px;
}

.savoir-plus__gauche__objectifs ul {
    display: grid;
    grid-template: 50px 50px / 50% 50% ;
    align-items: center;
}

.savoir-plus__gauche__objectifs li {
    display: flex;
    align-items: center;
}

.savoir-plus__gauche__objectifs img {
    margin-right: 10px;
}
    
/* DROITE */

.savoir-plus__droite {
    margin: 0 20% 0 10%;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.savoir-plus__droite li {
    font-weight: 600;
    margin: 25px 0 30px 0; 
}

.droite__logo-minutos {
    width: 30%;
    margin-right: 10px;
}

.droite__palette-couleurs img {
    width: 100%;
}

.droite__palette-couleurs img:last-child {
    display: none;
}

.savoir-plus__droite li:nth-child(6) {
    font-weight: 400;
    line-height: 20px;
}    

.savoir-plus__droite__charte-graphique strong {
    font-weight: 700;
}

.savoir-plus__droite__observation {
    margin-top: 80px;
    line-height: 20px;
}

.container-observation {
    display: flex;
}

.savoir-plus__droite__observation__button {
    margin-left: 20px;
    background-color: var(--cor-botao);
    padding: 10px;
    border-radius: 5px;
    align-self: self-end;
    transition: 0.3s;
}

.savoir-plus__droite__observation__button:hover {
    background-color: var(--cor-primaria);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.savoir-plus__droite__observation__button a {
    color: white;
    padding: 20px 0;
}


@media screen and (max-width: 480px)  {

    .savoir-plus {
        height: auto;
        min-height: 0;
        min-width: 0;
        display: flex;
        flex-direction: column;
    }

    .gauche, .droite {
        width: 100vw;
    }

    .savoir-plus__gauche {
        margin: 20px;
    }

    .container-cible-concurrence {
        gap: 40px;
    }

    .savoir-plus__titre {
        font-size: 1.5em;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .savoir-plus__gauche__cible > img {
        width: 35vw;
    }

    .savoir-plus__gauche__concurrence-logos img {
        width: 25vw;
        margin: auto;
    }

    .savoir-plus__gauche__objectifs ul {
        gap: 20px;
    }

    .savoir-plus__droite {
        margin: 20px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
        padding: 20px;
        border-radius: 10px;
    }

    .droite__logo-minutos {
        width: 29.5%;
        margin-right: 10px;
    }

    .droite__palette-couleurs img:last-child {
        display: block;
    }

    .droite__palette-couleurs img:first-child {
        display: none;
    }

    .savoir-plus__droite__observation {
        margin-top: 40px;
    }

    .savoir-plus__droite__observation__button {
        display: none;
    }

}